.background    {background-image: url("spiral.gif");
				 background-size: 30%;
                 table-layout: fixed;
                 border-spacing: 0;   } 
.background td { padding: 0;          }
.lava          {background-image: url("fireball.png");
				background-size: 25px 25px; }
.wall          { background: rgb(160,82,45);}
.walol 		   { background: brown; }
.fakewall      { background: rgb(160,82,45); }
.fakewood      {background: rgb(160, 85, 50); }
.bee 		   {background: brown;}
.test          {background: rgb(215, 110, 110) }
.oldman        {background-image: url("Oldman.png");
	            background-size: 25px 25px;}

.actor  { position: absolute;  }
.coin   { background: rgb(4, 229, 229); }
.fakecoin { background: rgb( 4, 229, 229); }
.powerup { background: brown; }
.player { background: rgb(71, 61, 139); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(150, 160, 140);
}
.won .player {
  box-shadow: -8px -9px 8px gold, 8px -9px 8px gold;
}
